a {
  text-decoration: none;
}

.main-container {
  background-color: aqua;
}

.box {
  width: 100vw;
  margin-top: 0%;
}

.text-justify {
  text-align: justify;
}

#projects {
  background: #53535316;
  
}

.fs-10 {
  font-size: 5rem;
  line-height: 1;
}

.bold-700 {
  font-weight: 700;
}

.btn:hover {
  box-shadow: none;
  transition: ease-in-out 0.5s;
}

.text-purple {
  color: purple;
}

.transform-image {
  width: 70%;
  transition: transform 1.5s ease-in-out;
}

.transform-image:hover {
  transform: scale(1.2);
}
.del {
  text-align: justify;
}
.abouts {
  font-size: 3rem;
  font-size: 6rem; 
  font-weight: bold;
  padding-top: 0rem; 
  padding-bottom: 0rem; 
  text-align: center; 
  margin-bottom: 2rem;
  margin: auto;
}
.project {
  font-size: 3rem;
  font-size: 6rem; 
  font-weight: bold;
  padding-top: 0rem; 
  padding-bottom: 0rem; 
  text-align: left; 
  margin-bottom: 2rem;
  margin: auto;
}


